<style>

  /*    tag
      . class
      # id
      TODO - this file - none of the css file appear to do anything! - unless conetnt is includedin html!!
  */
  #debug-weigh-in-table {
    width: 80%;
  }
  #debug-weigh-in-table td {
    text-align: center;
  }

  body {
    --title-font-size:1.5rem;
    color: #222;
  }
  
  #weigh-in-input-row {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #page-display-title {
    /* font-size: var(--title-font-size); */
  }
  
  #but-weigh-in-record {
    /* display: inline-block;
    vertical-align: top; */
    /* margin-top: calc(-1 * var(--title-font-size));  /* multiply var by -1 */
  }
  #weigh-in-chart-svg{
    width: 100%;
  }
</style>